<main id="main">
    <section id="gallery">
        <div class="container-fluid">
          <div class="section-header">
            <h3 class="section-title">Top Rated Properties</h3>
            <span class="section-divider"></span>
            <p class="section-description"><br>Most luxurious houses</p>
          </div>
  
          <div class="row no-gutters">
           
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/top1.jpg" data-toggle="modal" data-target="#mynewModal" class="gallery-popup">
                  <img id="myImg" src="../../assets/top1.jpg" alt="">
                </a>
                <h4>Loc: Vasantkunj, Delhi </h4>
                <h5>Price : 57000</h5>
                <h6>Code : T01</h6>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/top2.jpg" class="gallery-popup">
                  <img id="myImg" src="../../assets/top2.jpg" alt="">
                </a>
                <h4>Loc: Punjabi Bagh, Delhi </h4>
                <h5>Price : 40000</h5>
                <h6>Code : T02</h6>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/top3.jpg" class="gallery-popup">
                  <img id="myImg" src="../../assets/top3.jpg" alt="">
                </a>
                <h4>Loc: Bandra, Mumbai </h4>
                <h5>Price : 90000</h5>
                <h6>Code : T03</h6>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/top4.jpg" class="gallery-popup">
                  <img id="myImg" src="../../assets/top4.jpg" alt="">
                </a>
                <h4>Loc: Lower Parel, Mumbai </h4>
                <h5>Price : 69000</h5>
                <h6>Code : T04</h6>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/top5.jpg" class="gallery-popup">
                  <img id="myImg" src="../../assets/top5.jpg" alt="">
                </a>
                <h4>Loc: South City, Gurgaon </h4>
                <h5>Price : 55000</h5>
                <h6>Code : T05</h6>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6" >
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/top6.jpg" class="gallery-popup" >
                  <img id="myImg" src="../../assets/top6.jpg" alt="">
                </a>
                <h4>Loc: Benson Town, Bangalore </h4>
                <h5>Price : 72000</h5>
                <h6>Code : T06</h6>
              </div>
            </div>
  
          
          </div>
        </div> 

        <div id="mynewModal" class="modal fade" role="dialog">
          <div class="modal-dialog modal-lg">
        
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Luxurious houses for you</h4>
                <!-- <h4 class="modal-title">Rent: 50000</h4> -->
              </div>
              <div class="modal-body">
                <img id="myImg" src="../../assets/villa1.jpg" alt="" width="90%">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
        
          </div>
        </div>
        <script src="../../../main.js"></script>
        
