<main id="main">
    <section id="gallery">
        <div class="container-fluid">
          <div class="section-header">
            <h3 class="section-title">Villas</h3>
            <span class="section-divider"></span>
            <p class="section-description"><br>Villas which you can see</p>
          </div>
  
          <div class="row no-gutters">
           
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/villa1.jpg" data-toggle="modal" data-target="#mynewModal" class="gallery-popup">
                  <img id="myImg" src="../../assets/villa1.jpg" alt="">
                </a>
                <h4>Loc: Jim Corbett </h4>
                <h5>Price : 60000</h5>
                <h6>Code : V01</h6>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/villa2.jpg" class="gallery-popup">
                  <img id="myImg" src="../../assets/villa2.jpg" alt="">
                </a>
                <h4>Loc: Mumbai</h4>
                <h5>Price : 55000</h5>
                <h6>Code : V02</h6>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/villa3.jpg" class="gallery-popup">
                  <img id="myImg" src="../../assets/villa3.jpg" alt="">
                </a>
                <h4>Loc: Delhi </h4>
                <h5>Price : 80000</h5>
                <h6>Code : V03</h6>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/villa4.jpg" class="gallery-popup">
                  <img id="myImg" src="../../assets/villa4.jpg" alt="">
                </a>
                <h4>Loc: Goa </h4>
                <h5>Price : 90000</h5>
                <h6>Code : V04</h6>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/villa5.jpg" class="gallery-popup">
                  <img id="myImg" src="../../assets/villa5.jpg" alt="">
                </a>
                <h4>Loc: Kerala </h4>
                <h5>Price : 70000</h5>
                <h6>Code : V05</h6>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6" >
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/villa6.jpg" class="gallery-popup" >
                  
                  <img id="myImg" src="../../assets/villa6.jpg" alt="">
                </a>
                <h4>Loc: Jim Corbett </h4>
                <h5>Price : 50000</h5>
                <h6>Code : V06</h6>
              </div>
            </div>
  
          
          </div>
        </div> 

        <div id="mynewModal" class="modal fade" role="dialog">
          <div class="modal-dialog modal-lg">
        
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Villas for you</h4>
              </div>
              <div class="modal-body">
                <img id="myImg" src="../../assets/villa1.jpg" alt="" width="90%">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
        
          </div>
        </div>
        <script src="../../../main.js"></script>
        