.section-header .section-title {
    font-size: 32px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 40px;
    font-weight: 400;
  }
  
  .section-header .section-description {
    text-align: center;
    padding-bottom: 40px;
    color: rgb(255, 255, 255);
    font-style: italic;
  }
  
  .section-header .section-divider {
    display: block;
    width: 60px;
    height: 3px;
    background: #1dc8cd;
    background: linear-gradient(0deg, #580c0c 0%, #55fabe 100%);
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  #gallery {
    background: rgb(0, 0, 0);
    padding: 60px 0 0 0;
    overflow: hidden;
  }
  
  #gallery .container-fluid {
    padding: 0px;
  }
  
  #gallery .gallery-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all ease-in-out 0.4s;
  }
  
  #gallery .gallery-item {
    overflow: hidden;
    position: relative;
    padding: 0;
    vertical-align: middle;
    text-align: center;
  }
  
  #gallery .gallery-item img {
    transition: all ease-in-out 0.4s;
    width: 100%;
  }
  
  #gallery .gallery-item:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  #gallery .gallery-item:hover .gallery-overlay {
    opacity: 1;
    background: rgba(0, 0, 0, 0.7);
  }

  .modal-content {
    background: linear-gradient(45deg, rgba(80, 20, 20, 0.8), rgba(9, 54, 59, 0.8));
    color: aliceblue

  }
  button{
    color: white;
  }
