<main id="main">
    <section id="gallery">
        <div class="container-fluid">
          <div class="section-header">
            <h3 class="section-title">Appartments</h3>
            <span class="section-divider"></span>
            <p class="section-description"><br>Two BHK Appartments</p>
          </div>
  
          <div class="row no-gutters">
           
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="https://www.99acres.com/microsite/tulip-infratech-tulip-leaf-sector-69-gurgaon/?from_src=LI173333&src=FPLINK">
                  <img id="myImg" src="../../assets/tulip.jpg" alt="">
                </a>
                <h4>Loc: Sector 69, Gurgaon </h4>
                <h5>Price : 20000</h5>
                <h6>Code : T21</h6>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/22.jpg" class="gallery-popup">
                  <img id="myImg" src="../../assets/22.jpg" alt="">
                </a>
                <h4>Loc: Best Paradise Appartments, Pitampura </h4>
                <h5>Price : 22000</h5>
                <h6>Code : T22</h6>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/23.jpg" class="gallery-popup">
                  <img id="myImg" src="../../assets/23.jpg" alt="">
                </a>
                <h4>Loc: Sundervan, Gurgaon </h4>
                <h5>Price : 18000</h5>
                <h6>Code : T23</h6>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/24.jpg" class="gallery-popup">
                  <img id="myImg" src="../../assets/24.jpg" alt="">
                </a>
                <h4>Loc: Solan Heights, Noida </h4>
                <h5>Price : 19000</h5>
                <h6>Code : T24</h6>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/25.jpg" class="gallery-popup">
                  <img id="myImg" src="../../assets/25.jpg" alt="">
                </a>
                <h4>Loc: Seven Pearls, Mumbai </h4>
                <h5>Price : 22000</h5>
                <h6>Code : T25</h6>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6" >
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/26.jpg" class="gallery-popup" >
                  
                  <img id="myImg" src="../../assets/26.jpg" alt="">
                </a>
                <h4>Loc: Gokuldham Society, Vaishali </h4>
                <h5>Price : 17000</h5>
                <h6>Code : T26</h6>
              </div>
            </div>
  
          
          </div>
        </div> 

        <div id="mynewModal" class="modal fade" role="dialog">
          <div class="modal-dialog modal-lg">
        
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">2 BHK appartments for you</h4>
                <!-- <h4 class="modal-title">Rent: 50000</h4> -->
              </div>
              <div class="modal-body">
                <img id="myImg" src="../../assets/21.jpg" alt="" width="90%">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
        
          </div>
        </div>
        <script src="../../../main.js"></script>
        
