<main id="main">
    <section id="gallery">
        <div class="container-fluid">
          <div class="section-header">
            <h3 class="section-title">Appartments</h3>
            <span class="section-divider"></span>
            <p class="section-description"><br>Four BHK Appartments</p>
          </div>
  
          <div class="row no-gutters">
           
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/41.jpg" data-toggle="modal" data-target="#mynewModal" class="gallery-popup">
                  <img id="myImg" src="../../assets/41.jpg" alt="">
                </a>
                <h4>Loc: Heaven Appartments, Mumbai </h4>
                <h5>Rent : 39000</h5>
                <h6>Code : T41</h6>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/42.jpeg" class="gallery-popup">
                  <img id="myImg" src="../../assets/42.jpeg" alt="">
                </a>
                <h4>Loc: Best Paradise, Dwarka </h4>
                <h5>Rent : 38000</h5>
                <h6>Code : T42</h6>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/43.jpg" class="gallery-popup">
                  <img id="myImg" src="../../assets/43.jpg" alt="">
                </a>
                <h4>Loc: Vandana Appartments, Noida </h4>
                <h5>Rent : 36000</h5>
                <h6>Code : T43</h6>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/44.jpeg" class="gallery-popup">
                  <img id="myImg" src="../../assets/44.jpeg" alt="">
                </a>
                <h4>Loc: Tara Society, Delhi </h4>
                <h5>Rent : 41000</h5>
                <h6>Code : T44</h6>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/45.jpg" class="gallery-popup">
                  <img id="myImg" src="../../assets/45.jpg" alt="">
                </a>
                <h4>Loc: Dream Society, Vaishali </h4>
                <h5>Rent : 39000</h5>
                <h6>Code : T45</h6>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6" >
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/46.jpeg" class="gallery-popup" >
                  
                  <img id="myImg" src="../../assets/46.jpeg" alt="">
                </a>
                <h4>Loc: Grand Vistara, Mumbai </h4>
                <h5>Rent : 37000</h5>
                <h6>Code : T46</h6>
              </div>
            </div>
  
          
          </div>
        </div> 

        <div id="mynewModal" class="modal fade" role="dialog">
          <div class="modal-dialog modal-lg">
        
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">4 BHK Appartments for you</h4>
                <!-- <h4 class="modal-title">Rent: 50000</h4> -->
              </div>
              <div class="modal-body">
                <img id="myImg" src="../../assets/41.jpg" alt="" width="90%">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
        
          </div>
        </div>
        <script src="../../../main.js"></script>
        
