<main id="main">
    <section id="gallery">
        <div class="container-fluid">
          <div class="section-header">
            <h3 class="section-title">Appartments</h3>
            <span class="section-divider"></span>
            <p class="section-description"><br>Three BHK Appartments</p>
          </div>
  
          <div class="row no-gutters">
           
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/31.jpg" data-toggle="modal" data-target="#mynewModal" class="gallery-popup">
                  <img id="myImg" src="../../assets/31.jpg" alt="">
                </a>
                <h4>Loc: Gokuldham Society, Vaishali </h4>
                <h5>Price : 24000</h5>
                <h6>Code : T31</h6>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/32.jpg" class="gallery-popup">
                  <img id="myImg" src="../../assets/32.jpg" alt="">
                </a>
                <h4>Loc: Jaishree Appartments, Delhi </h4>
                <h5>Price : 30000</h5>
                <h6>Code : T32</h6>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/33.jpg" class="gallery-popup">
                  <img id="myImg" src="../../assets/33.jpg" alt="">
                </a>
                <h4>Loc: Goswami Society, Mumbai </h4>
                <h5>Price : 26000</h5>
                <h6>Code : T33</h6>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/34.jpg" class="gallery-popup">
                  <img id="myImg" src="../../assets/34.jpg" alt="">
                </a>
                <h4>Loc: Fire Wood Appartments, Mumbai </h4>
                <h5>Price : 17000</h5>
                <h6>Code : T34</h6>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/35.jpg" class="gallery-popup">
                  <img id="myImg" src="../../assets/35.jpg" alt="">
                </a>
                <h4>Loc: Jewel Appartments, Noida </h4>
                <h5>Price : 25000</h5>
                <h6>Code : T35</h6>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6" >
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/36.jpg" class="gallery-popup" >
                  
                  <img id="myImg" src="../../assets/36.jpg" alt="">
                </a>
                <h4>Loc: Mannat , Bangalore </h4>
                <h5>Price : 28000</h5>
                <h6>Code : T36</h6>
              </div>
            </div>
  
          
          </div>
        </div> 

        <div id="mynewModal" class="modal fade" role="dialog">
          <div class="modal-dialog modal-lg">
        
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">3 BHK houses for you</h4>
                <!-- <h4 class="modal-title">Rent: 50000</h4> -->
              </div>
              <div class="modal-body">
                <img id="myImg" src="../../assets/31.jpg" alt="" width="90%">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
        
          </div>
        </div>
        <script src="../../../main.js"></script>
        

